.acc {
  &__menu {
    &--link {
      font-family: $heading-font;
      font-size: 1.4rem;
      font-weight: 500;
      color: $black;
      border-bottom: 1px solid $black;
      margin: 0 0.5rem;

      &:hover,
      &--active {
        background-color: $black;
        color: white;
      }
    }
  }

  &__products {
    margin-bottom: 4rem;
    width: 95%;
  }
}

.product-item {
  padding: 1rem;
  display: flex;
  text-decoration: none;
  color: $black;

  &__img {
    width: 70px;
  }

  &__title {
    margin: 0 1rem;
    font-family: $heading-font;
    font-size: 1.2rem;
  }

  &__price {
    text-align: right;
  }

  &__delete {
    width: 30px;

    &:hover {
      filter: grayscale(20%);
      transform: scale(1.2);
    }
  }
}
