.acc {
  &__menu {
    &--link {
      font-family: $heading-font;
      font-size: 1.4rem;
      font-weight: 500;
      color: $black;
      border-bottom: 1px solid $green;
      margin: 0 0.5rem;

      &:hover,
      &--active {
        background-color: $green;
        color: white;
      }
    }
  }

  &__products {
    margin-bottom: 4rem;
    width: 95%;
  }
}

.product-item {
  padding: 1rem;
  display: flex;
  text-decoration: none;
  color: $black;

  &__img {
    width: 60px;
  }

  &__title {
    margin: 0 1rem;
    font-family: $heading-font;
    font-size: 1.2rem;
  }

  &__price {
    text-align: right;
    margin-right: 5px;
  }

  &__delete {
    width: 25px;

    &:hover {
      filter: grayscale(20%);
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: $medium-width) {
  .acc {
    &__products {
      width: 90%;
    }
  }

  .product-item {
    &__img {
      width: 90px;
    }
  }
}

@media screen and (min-width: $large-width) {
  .acc {
    &__products {
      width: 80%;
    }
  }

  .product-item {
    &__img {
      width: 120px;
    }
  }
}
