$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1200px;
$extra-extra-large-width: 1400px;
$heading-font: 'Open Sans Condensed', serif;
$text-font: 'Roboto', sans-serif;

$white: #f2f2f2;
$gray-light: #bfbfbf;
$gray: #8c8c8c;
$green: #57973f;
$green-light: #c0faaa;
$black: #212529;

$navbar-toggler-border-radius: 0;
$navbar-light-toggler-border-color: white;
$navbar-light-color: white;
$navbar-light-active-color: white;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$input-border-color: $green;
$input-border-radius: 0;
$input-bg: $green-light;
$input-border-width: 2px;
$input-disabled-bg: $green-light;

$input-focus-border-color: $green;
$input-focus-bg: $green-light;