header {
  background-color: $green;
}

.logo {
  width: 70px;
  border-bottom: 2px solid $green;
  border-top: 2px solid $green;

  &:hover {
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
  }
}

.nav {
  &__a {
    font-family: $heading-font;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid $green;
    border-top: 1px solid $green;
  }

  &__icon {
    height: 30px;
    margin: 0 5px;
  }

  &__icon--sm {
    height: 20px;
    margin: 0 5px;
  }

  &__a:hover,
  &--active {
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
  }
}

.sec{
  font-size: 0.8rem;
}
