.logo{
  width: 80px;
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;

  &:hover{
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
  }
}

.nav {

  &__a{
    font-family: $heading-font;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
  }
  
  &__icon{
    height: 30px;
    margin: 0 5px;
    
  }
  
  &__a:hover,
  &--active{
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
  }
}
