.hero {
  width: 100%;
  margin-bottom: 1rem;
}


.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

}

.cont{
  width: 95%;
  border: 1px solid $gray-light;
  box-shadow: 3px 3px 6px $gray-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &__featured {
    width: 100%;
    background-color: $green;
    color: white;
    text-align: center;
  }

  &__search {
    width: 100%;
    background-color: $green;
    color: white;
    text-align: center;
    padding: 1rem 0;

    &--label{
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.cart {
  width: 350px;
  border: 1px solid $green;
  margin: 1rem;
  box-shadow: 4px 4px 6px $green;
  text-align: center;
  
  &__link{
    text-decoration: none;
    color: $black;
  }

  &__link:hover{
    color: $black;
    cursor: pointer;
  }  

  &__title{
    font-family: $heading-font;
    margin: 1rem 1rem;
    font-size: 1.4rem;
    display: inline-block;
    height:50px;
  }

  &__img{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin: 1rem;
    display: inline-block;
    height:300px;
  }

  &__description{
    margin: 1rem 1rem;  
    flex:1;  
    height:60px;
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $green;
    padding: 0.5rem;
    height:50px;
  }

  &__price{
    font-family: $heading-font;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__info{
    font-family: $heading-font;
    font-size: 1.2rem;
    color: $black;
  }

  &:hover{
    box-shadow: none;
    cursor: pointer;
    transform: translate(4px, 4px);
  }
}

footer{
  margin: auto 0 ;
  padding: 1rem;
  background-color: $green;
  color: $white;
  text-align: center;
  font-weight: bold;
}

@media screen and(min-width: $medium-width) {
  .cont{
    width: 90%;
    margin: 0 auto;

    &__featured{
      flex-direction: row;
    }
  }

  .hero{
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}

@media screen and(min-width: $large-width) {
  .cont{
    width: 80%;
    margin: 0 auto;

  }
}