.login-form{
  padding: 2rem 0 4rem;

  &__button{
    background-color: green;
    font-family: $heading-font;
    font-size: 1.3rem;
    box-shadow: 3px 3px 6px $gray-dark;

    &:disabled{
      cursor: not-allowed;
      background-color: $gray-light;
      color: $black;
    }

    &:hover{
      box-shadow: none;
      background-color: green;
      opacity: 0.8;
      transform: translate(3px, 3px);
    }

    &:focus{
      background-color: green;
    }

  }

  
}