body {
  font-family: $text-font;
  box-sizing: border-box;
  color: $black;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: $heading-font;
  font-weight: bold;
}

.notice{
  color: green;
  font-size: 0.6rem;
}

.error {
  top: 15vh;
  position: absolute;
  width: 100vw;
  height: 70vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: $heading-font;
  font-size: 1.4rem;
}

.error-text {
  color: red;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.loading {
  top: -10000px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: $heading-font;
  font-size: 1.4rem;

  &__spinner {
    width: 30vw;
    height: 30vw;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-radius: 50%;
    margin-bottom: 2rem;
    animation: spinner-animation 3s infinite linear;
  }
}

.feedback{
  color: white;
  background-color: green;
  font-size: 1.3rem;
  padding: 1rem;
  height: 0px;
  display: none;
  transition: all 2s;
}

.no-result {
  font-family: $heading-font;
  font-size: 1.4rem;
  padding: 2rem;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
